[Unit]
Description=IRCIntel
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/ploos-as/ircintel:latest
ContainerName=ircintel
PublishPort=8080:8080
Environment=IRCINTEL_LISTEN=:8080
Environment=IRCINTEL_DB_PATH=/data/ircintel.db
Environment=IRCINTEL_STATUS_FRESHNESS=15m
Volume=ircintel-data.volume:/data

[Service]
Restart=always

[Install]
WantedBy=default.target
